<!-- 
      <div [ngSwitch]= "readWatch"> -->

<!-- <div *ngSwitchCase="'blog'"> -->
<section class="bottom">
  <span class="p-read" [ngStyle]="{ 'color':readWatch.colorIcon }">{{ readWatch.contentAction }} +</span>
  <span class="p-readTime">8 min {{ readWatch.contentAction }}</span>
</section>

<!-- </div>
        <div *ngSwitchCase="'pdf'"> -->
<!-- <footer class="footer">
          <p class="p-read">R E A D +</p>
          <p class="p-readTime">9 pages read</p>
        </footer> -->
<!-- </div> -->

<!-- <div *ngSwitchCase="'video'"> -->
<!-- <footer class="footer">
          
          <p class="p-read">R E A D +</p>
          <p class="p-readTime">24 min watched</p>
        </footer> -->
<!-- </div>
      
      </div> -->
