.bottom {
  display: flex;
  font-size: 12px;
  justify-content:space-between;
  padding: 10px;
}


.p-read {
  margin-left: 8px;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  width: 80px;
  font-weight: bold;
}

.p-readTime {
  padding-left: 160px;
  display: flex;
}
