<!-- <div [ngSwitch]= "type"> -->

<!-- <div *ngSwitchCase="'blog'"> -->

<img class="image" src="{{ allImage }}" />


<!-- <span class="blankStar" [ngStyle]="{ 'color':type.bookmark ? 'yellow' : 'white'}" (click)="bookmarkToggle($event)"
  *ngIf="hover === type.id"> -->

<span class="blankStar">
  <mat-icon [class.mark]="isMarked" (click)="unMark() ; bookmarkToggle($event)" >star</mat-icon>
</span>
<!-- </span> -->

<div>
  <mat-icon class="icon" [ngStyle]="{ color: type.colorIcon }">{{type.SymbolIcon}}</mat-icon>
</div>

<!-- <div [ngSwitch]="type.type">
    <mat-icon *ngSwitchCase="'video'" class="icon">video_library</mat-icon>
    <mat-icon *ngSwitchCase="'pdf'" class="icon">picture_as_pdf</mat-icon>
    <mat-icon *ngSwitchCase="'blog'" class="icon">notes</mat-icon>
  </div> -->

<!-- <mat-icon class="icon" style="color: aliceblue;">notes</mat-icon> -->

<p class="info">&#9679; {{ type.tags[3] }}</p>

<!-- </div> -->
<!-- <div *ngSwitchCase="'pdf'">
 
    <img class="image" src="..\assets\demo2.jpg">
    <mat-icon class="blankStar">star_border</mat-icon>

    <mat-icon class="icon" style="color: aliceblue;">picture_as_pdf</mat-icon>
    <p class="info">&#9679; NATURE CARE</p>

  </div>

  <div *ngSwitchCase="'video'">

    
    <img class="image" src="..\assets\demo3.jpg">
    <mat-icon class="blankStar">star_border</mat-icon>

    <mat-icon class="icon" style="color: aliceblue;">video_label</mat-icon>
    <p class="info">&#9679; NATURE CARE</p>

  </div> -->

<!-- </div> -->
