

.image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   margin-bottom: 0;
   width: 100%;
   height: 157px !important;
   object-fit: unset !important;

    
}

// .image:hover{
//   height: 162px;
//   width: 355px;
//   transition: 0.2s;
// }

.info{
    background-color: rgb(231, 222, 222);
    color: rgb(3, 77, 40);
    position: absolute;
    top: 120px;
    padding: 2px;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 8px;
    margin-left: 12px;
    font-size: 12px;
    

  }

  .icon{
    position: absolute;
    right: 20px;
    top: 20px; 
    background-color: white;
    padding: 6px;
    border-radius: 40px;
   }

  .icon:hover{
      cursor: pointer;
  }

  .blankStar{
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 125px;
    color: rgb(255, 254, 253);

  }

  .blankStar:hover{
  //  opacity: 4;
   font-size: 40px;
   transition: 0.2s;
  }
  
   .mark{
     color: orange;
   }