<h2>{{data.cardInfo.title}}</h2>

<!-- <app-dialog-box class="mat-typography"> -->

<div [ngSwitch] = "data.cardInfo.type" >


    <app-video [videoContent]="data.cardInfo" *ngSwitchCase = "'video' "></app-video>
    <app-blog  [blogData]="data.cardInfo.content" *ngSwitchCase = "'blog'"></app-blog>
    <app-pdf  [pdfContent]="data.cardInfo.content"*ngSwitchCase = "'pdf' "> </app-pdf>
    <p *ngSwitchDefault> No data Available</p>

    
</div>
<!-- </app-dialog-box> -->


<button mat-button (click)="onNoClick()" class="btn">Close The Modal</button>

