.btn{
    padding: 5px;
    background-color: blue;
    color: white;
    outline: none;
    border-radius: 20px;
    margin-left: 920px;
}

.btn:hover{
    color: blue;
    background-color:white ;
}