.container{
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    
    box-shadow: rgb(184, 182, 182) 5px 5px 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    // display: flex;
    // flex-wrap: wrap;

}

app-image-container{
    display: block;
    position: relative;
}

