<section class="container" (click)="card(sendData)">
  <section class="container">
    <app-image-container [allImage]="thumbnail" [type]="sendData" ></app-image-container>
    <app-title [allTitle]="sendData"></app-title>
    <app-description [allDesc]="sendData.description"></app-description>
    <app-footer [readWatch]="sendData"></app-footer>
  </section>
</section>
