
<!-- <div [ngSwitch]="title">
  <div *ngSwitchCase="'blog'"> -->

    <ng-container  *ngIf="allTitle.type == 'video' && allTitle.status == 'inProgress'"> 
    <mat-progress-bar   mode="determinate" [value]="allTitle.progress"></mat-progress-bar>
  </ng-container>

  
    <h2>{{allTitle.title}}</h2>
  <!-- </div> -->

  <!-- <div *ngSwitchCase="'pdf'">
    <h2>This is a PDF File</h2>
  </div>

  <div *ngSwitchCase="'video'">
    <h2>This is a Video File</h2>
  </div> -->
<!-- </div> -->
