.main{
    background-color:rgb(255, 255, 255)
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


h1{
    margin-left: 70px;
    font-size: 30px;
    padding-top: 5px;
}

.carousel{
    z-index: 9;
    padding-left: 20px;
}

.unviewed{
    padding: 10px;
}


.tooltip{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 30px;
}

.bookmark{
font-size: 40px;
cursor: pointer;
padding-bottom: 20px;
margin-right: 20px;
 }
 .mark{
    color: orange;
  }

  .topic{
      display: flex;
      flex-wrap: wrap;
      padding: 20px;    
  }

  .topicText{
      margin-left: 60px;
      border-bottom: thin solid grey;
      font-weight: bold;
    font-size: 40px;
    padding: 5px;
    color: rgb(107, 104, 104);
     
  }

  .tooltip{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .input{ 
      padding: 2px;
      padding-left:15px ;
      border-radius: 8px;
      border: thin solid grey;
      outline: none;
  }

  .bookmarkText{
      background-color: rgb(52, 100, 102);
      padding: 8px;
      color: white;
      border-radius: 20px;
  }