<div class="tooltip">

  <mat-icon class="bookmark" [class.mark]="isMarked" (click)="unMark() ; bookMarkedItemDisplay() " matTooltip="Click on Bookmark Icon to see Bookmarked Items" >star</mat-icon>
  <!-- <input class="input" type="text" placeholder="Search Item Here"> -->


</div>



<span class="topicText">Topics -</span>
<div class="topic">

<mat-chip-list selectable multiple>
  <mat-chip   #c="matChip" *ngFor="let  tagItem of tagsArray" [value]="tagItem" (click)="toggleSelection( c,tagItem) ;   chipItemDisplay()">{{tagItem}}</mat-chip>
  </mat-chip-list>
</div>



<section class="inProgress">
  <h1>In Progress ( {{ inProgressArray.length }} )</h1>

  <!-- <app-no-data-available></app-no-data-available> -->

  <ng-container *ngIf="inProgressArray.length; else noData">
    <!-- <div class="container"> -->

    <carousel [height]="390" [cellsToShow]="4" cellWidth="100%">
      <ng-container *ngFor="let item of inProgressArray">
        <div class="carousel-cell">
          <app-blog-card [sendData]="item" (openModal)="getType($event)"></app-blog-card>
        </div>
      </ng-container>
    </carousel>
    <!-- </div> -->
  </ng-container>

  <ng-template #noData>
    <app-no-data-available></app-no-data-available>
  </ng-template>
</section>

<section class="unviewed">
  <h1>Unviewed ( {{ unviewedArray.length }} )</h1>

  <ng-container *ngIf="unviewedArray.length; else noData">
    <!-- <div class="container"> -->

    <carousel [height]="390" [cellsToShow]="4" cellWidth="100%">
      <ng-container *ngFor="let item of unviewedArray">
        <div class="carousel-cell">
          <app-blog-card
            [sendData]="item"
            (openModal)="getType($event)"
          ></app-blog-card>
        </div>
      </ng-container>
    </carousel>
    <!-- </div> -->
  </ng-container>

  <ng-template #noData>
    <app-no-data-available></app-no-data-available>
  </ng-template>
</section>

<section class="inProgress">
  <h1>Viewed ( {{ viewedArray.length }} )</h1>

  <ng-container *ngIf="viewedArray.length; else noData">
    <!-- <div class="container"> -->

    <carousel [height]="390" [cellsToShow]="4" cellWidth="100%">
      <ng-container *ngFor="let item of viewedArray">
        <div class="carousel-cell">
          <app-blog-card
            [sendData]="item"
            (openModal)="getType($event)"
          ></app-blog-card>
        </div>
      </ng-container>
    </carousel>
    <!-- </div> -->
  </ng-container>

  <ng-template #noData>
    <app-no-data-available></app-no-data-available>
  </ng-template>
</section>

<section></section>
