p{
    padding-left: 8px;  
}

.desc{
    padding: 3px;
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 0;    
}

.info{
    background-color: rgb(231, 222, 222);
    color: rgb(3, 77, 40);
    position: absolute;
    left: 40px;
    top: 160px; 
    padding: 2px;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
  }

  .pdf-icon{
    position: absolute;
    left: 255px;
    top: 30px; 
  }

  .pdf-icon:hover{
      cursor: pointer;
  }